{% load static %}

<!-- c3po/templates/index.html -->
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>C3PO</title>
		<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" >
	</head>
	<body>
		<h1>I am C3PO. Help me to save the Rebellion !</h1>
		<form method="post" enctype="multipart/form-data">
			{% csrf_token %}
			<input type="file" name="json_file">
			<button type="submit">Upload Json File</button>
		</form>

		{% block page_content %}
		Send data about the empire strategy to help the rebel
		{% endblock %}

	</body>
</html>
