{% extends "index.html" %}

{% block page_content %}
	<p>The different routes are: </p>
	<ul>
		{% for route in routes %}
		<li>{{route.origin}} ---{{route.travel_time}}---> {{route.destination}}</li>
		{% endfor %}
	</ul>

	<p>The Millenium-Falcon mission is to go from {{millenium.departure}} to {{millenium.arrival}} with a {{millenium.autonomy}} days autonomy.</p>

	<p>C3PO managed to send additional information</p>
	<ul>
		<li>The Death Star will reach {{route.destination}} in {{empire.countdown}} days</li>
		<li>The bounty hunters route is:
			<ul>
				{% for bounty in empire.bounty_hunters %}
				<li>{{bounty.planet}} on day {{bounty.day}}</li>
				{% endfor %}
			</ul>
		</li>
	</ul>

	<p> The probability to complete this mission is: <b>{{best_proba}}%</b> </p>

{% endblock %}

